* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
    color: #353537;  
    font-family: 'Prata', serif;
}
 
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(90deg, #E8CBC0,#636FA4);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 45px;
    border-bottom: ridge 5px #636FA4;
}

header ul {
    display: flex;
}

header ul li {
    padding: 5px;
}

header ul li a {
    transition: 100ms;
}

header ul li a:hover{
    color: #E8CBC0;
    border-bottom: 2px dashed #636FA4;
    padding-bottom: 5px;
}

.container {
    text-align: center;
}

.container .name h1{
    font-size: 60px;
}

.container .name h5{
    font-size: 25px;
}

#arrow {
    font-size: 35px;
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important; 
}

#animation {
    transition: 300ms;
}

#about p{
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: justify;
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}

.form input{
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button{
    width: 15%;  
    padding: 5px 10px;
    background: linear-gradient(to right,#636FA4 50%, #060644 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #E8CBC0;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 200ms;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
    margin-top: 20px;
}

.form button:hover {
    background-position: left bottom;
    color: #fff;
}

@media only screen and (max-width: 768px){
    .form{
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .container .name h1 {
        font-size: 30px;
    }
    .container .name h5 {
        font-size: 15px;
    }
    #about p {
        max-width: 80%;
    }
}